from aoc.y_{{ year }}.d_{{ day_padded }}.examples import examples as examples
from aoc.y_{{ year }}.d_{{ day_padded }}.solution import parse as parse
from aoc.y_{{ year }}.d_{{ day_padded }}.solution import part_1 as part_1
from aoc.y_{{ year }}.d_{{ day_padded }}.solution import part_2 as part_2
