from aoc.y_{{ year }}.d_{{ day }}.examples import examples as examples
from aoc.y_{{ year }}.d_{{ day }}.solution import parse as parse
from aoc.y_{{ year }}.d_{{ day }}.solution import part_1 as part_1
from aoc.y_{{ year }}.d_{{ day }}.solution import part_2 as part_2
