from pprint import pprint

import peek

from aoc.tools.grid import create_grid_dict_from_string


def parse(puzzle_input):
    return puzzle_input.splitlines()
    return [line for line in puzzle_input.splitlines()]
    return [line.split(",") for line in puzzle_input.splitlines()]


def part_1(parsed_input):
    return


def part_2(parsed_input):
    return


if __name__ == "__main__":
    ...